@model PokeballReview.Models.Reviews

@{
    ViewBag.Title = "Details";
}

<h1 id="indexHeader">Details</h1>


<h3 id="indexHeader">Reviews</h3>
<hr />
<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="card deetsStyle">
            <h3 class="underline">
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </h3>

            <h4>
                @Html.DisplayFor(model => model.Category.CategoryName)
            </h4>
        </div>
        <div class="card deetsStyle">
            <h3 class="underline">
                @Html.DisplayNameFor(model => model.Title)
            </h3>

            <h4>
                @Html.DisplayFor(model => model.Title)
            </h4>
        </div>
        <div class="card deetsStyle">
            <h3 class="underline">
                @Html.DisplayNameFor(model => model.Content)
            </h3>

            <h4>
                @Html.DisplayFor(model => model.Content)
            </h4>
        </div>
        <div class="card deetsStyle">
            <h3 class="underline">
                @Html.DisplayNameFor(model => model.PublishDate)
            </h3>

            <h4>
                @Html.DisplayFor(model => model.PublishDate)
            </h4>
        </div>
        <div class="card deetsStyle">
            <h3 class="underline">
                @Html.DisplayNameFor(model => model.Etc)
            </h3>

            <h4>
                @Html.DisplayFor(model => model.Etc)
            </h4>
        </div>

    </div>
</div>
<p class="btn-lg creatBtn">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID })
</p>
<p class="btn-lg creatBtn">
    @Html.ActionLink("Back to List", "Index")
</p>
