@model IEnumerable<PokeballReview.Models.Reviews>

@{
    ViewBag.Title = "Index";
}

<h1 id="indexHeader">REVIEWS HERE</h1>
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
                <hgroup>
                    <h1>Evolution Stones</h1>
                    <h3>Did you get a dud?</h3>
                </hgroup>
                <p class="btn btn-hero btn-lg">
                    @Html.ActionLink("Create New", "Create", null, new { style = "color:white" })
                </p>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">
                <hgroup>
                    <h1>Pokenavs & Pokedexes</h1>
                    <h3>See the best and worst in Trainer tools!</h3>
                </hgroup>
                <p class="btn btn-hero btn-lg">
                    @Html.ActionLink("Create New", "Create", null, new { style = "color:white" })
                </p>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-3"></div>
            <div class="hero">
                <hgroup>
                    <h1>Technical Machines</h1>
                    <h3>See the moves you need!</h3>
                </hgroup>
                <p class="btn btn-hero btn-lg">
                    @Html.ActionLink("Create New", "Create", null, new { style = "color:white" })
                </p>
            </div>
        </div>
    </div>
</div>



  <div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-6 card pokeStyle">
            <h2>
                @Html.DisplayFor(modelItem => item.Title)              
            </h2>
            <h4>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </h4>
            <h4>
                @Html.DisplayFor(modelItem => item.Content)
            </h4>
            <h4>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </h4>
            <h6>
                @Html.DisplayFor(modelItem => item.Etc)
            </h6>
            <p id="line">
                @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID, style = "color:white"}) |
                @Html.ActionLink("Details", "Details", new { id = item.ReviewID, style = "color:white" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID, style = "color:white"})
            </p>
        </div>
    }

</div>

