@model IEnumerable<PokeballReview.Models.Reviews>

@{
    ViewBag.Title = "Index";
}

<h1 id="indexHeader">REVIEWS HERE</h1>

<p class="btn-lg creatBtn">
    @Html.ActionLink("Create New", "Create", null, new {style = "color:white"})
</p>

  <div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-6 card pokeStyle">
            <h2>
                @Html.DisplayFor(modelItem => item.Title)              
            </h2>
            <h4>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </h4>
            <h4>
                @Html.DisplayFor(modelItem => item.Content)
            </h4>
            <h4>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </h4>
            <h6>
                @Html.DisplayFor(modelItem => item.Etc)
            </h6>
            <p id="line">
                @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID, style = "color:white"}) |
                @Html.ActionLink("Details", "Details", new { id = item.ReviewID, style = "color:white" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID, style = "color:white"})
            </p>
        </div>
    }

</div>

